@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 2em;
    }

    li {
        font-size: 2em;
    }

    .content {
        margin-left: 15%;
        margin-right: 15%;
    }

    .photo-group {
        display: flex;
        flex-wrap: wrap;
    }

    .photo-group > img {
        margin-right: 10px;
        margin-top: 10px;
        height: 600px;
        object-fit: scale-down;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    li {
        font-size: 1em;
    }

    .content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .photo-group {
        display: flex;
        flex-wrap: wrap;
    }

    .photo-group > img {
        margin-right: 5px;
        margin-top: 5px;
        height: 300px;
        object-fit: scale-down;
    }
}
